# Visual Studio / VS Code
.vs/
.vscode/

# Build files
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Publish files
publish/
*.pubxml
*.publishproj

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log

# Invalid or temporary icons
